@import './vars';

body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Asap', Arial, sans-serif;
  font-size: 100%;
  color: $color_text;
  background: $color_bg;
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;

  @media (min-width: $desktop_breakpoint) {
    padding-top: 4rem;
    width: $desktop_breakpoint;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    // min-height: unset;
    align-content: flex-start;
  }

  & > h1 {
    width: 90%;
  }
}

a {
  color: $color_brand;
  text-decoration: none;
  &:hover,
  &:focus {
    text-decoration: underline;
  }
}
