@import '../styles/vars';

.Header {
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  background-color: white;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  z-index: 1;

  @media (min-width: $desktop_breakpoint) {
    bottom: unset;
    top: 0;
  }

  a {
    font-size: 0.95rem;
    position: relative;
    text-decoration: none;
    color: $color_text;
    padding: 0.75rem 0;
    flex-grow: 1;
    flex-basis: 0;
    text-align: center;
    &:focus,
    &:hover {
      text-decoration: underline;
    }
    &[href='/'] {
      font-size: 1rem;
      font-weight: 600;
    }
    &.ActiveLink {
      text-decoration: underline;
      pointer-events: none;
    }
    span {
      display: block;
    }
  }
}

.HeaderContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: $desktop_breakpoint) {
    bottom: unset;
    top: 0;
    width: $desktop_breakpoint;
    margin: 0 auto;
  }
}
