@import '../styles/vars';

.Header {
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  display: flex;
  justify-content: center;
  background-color: white;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  align-items: center;
  z-index: 1;
  a {
    font-size: 0.95rem;
    position: relative;
    text-decoration: none;
    color: $color_text;
    padding: 0.75rem 0;
    flex-grow: 1;
    flex-basis: 0;
    text-align: center;
    &:focus,
    &:hover {
      text-decoration: underline;
    }
    &:not(:last-of-type)::after {
      content: '';
      display: block;
      width: 1px;
      top: 20%;
      height: 60%;
      position: absolute;
      right: 0;
      background-color: $color_text_light;
    }
    &[href='/'] {
      font-size: 1rem;
      font-weight: 600;
    }
    &.ActiveLink {
      text-decoration: underline;
      pointer-events: none;
    }
    span {
      display: block;
    }
  }
}
